.popup_button{margin-top: 6px;display: inline-block;border-radius: 3px;border: none;font-size: 0.9rem;padding: 0.4rem 0.8em;background: #69c773;border-bottom: 1px solid #498b50;color: white;-webkit-font-smoothing: antialiased;font-weight: bold;text-align: center;}
.popup_content{background-color: #fefefe;border-top: 5px solid #69c773;text-align: center;margin: 15% auto; /* 15% from the top and centered */padding: 10px;width: 80%; /* Could be more or less, depending on screen size */}
.popup{-webkit-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);-moz-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);position: fixed;z-index: 1;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);display:none;}

.loading{
  position: absolute;
  top: 5px;
  left: 20px;
  transform: translate(-50%, -50%);
  height: 40px;
  display: flex;
  align-items: center;
}
.obj{
  width: 6px;
  height: 80px;
  background: #0066ff;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s infinite;
}
.obj:nth-child(2){
    animation-delay: 0.1s;
}
.obj:nth-child(3){animation-delay: 0.2s;}
.obj:nth-child(4){animation-delay: 0.3s;}
.obj:nth-child(5){animation-delay: 0.4s;}
.obj:nth-child(6){animation-delay: 0.5s;}
.obj:nth-child(7){animation-delay: 0.6s;}
.obj:nth-child(8){animation-delay: 0.7s;}

@keyframes loading {
  0%{height: 0;}
  50%{height: 80px;}
  100%{height: 0;}
}



.loading2{
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 80px;
  display: flex;
  align-items: center;
}
.obj2{
  width: 6px;
  height: 40px;
  background: #ffff00;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s infinite;
}
.obj2:nth-child(2){
    animation-delay: 0.1s;
}
.obj2:nth-child(3){
    animation-delay: 0.2s;
}
.obj2:nth-child(4){
    animation-delay: 0.3s;
}
.obj2:nth-child(5){
    animation-delay: 0.4s;
}
.obj2:nth-child(6){
    animation-delay: 0.5s;
}
.obj2:nth-child(7){
    animation-delay: 0.6s;
}
.obj2:nth-child(8){
    animation-delay: 0.7s;
}


@keyframes loading {
  0%{
    height: 0;
  }
  50%{
    height: 80px;
  }
  100%{
    height: 0;
  }
}



.loading3{
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 40px;
  display: flex;
  align-items: center;
}
.obj3{
  width: 6px;
  height: 40px;
  background: #33cc33;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s infinite;
}
.obj3:nth-child(2){
    animation-delay: 0.1s;
}
.obj3:nth-child(3){
    animation-delay: 0.2s;
}
.obj3:nth-child(4){
    animation-delay: 0.3s;
}
.obj3:nth-child(5){
    animation-delay: 0.4s;
}
.obj3:nth-child(6){
    animation-delay: 0.5s;
}
.obj3:nth-child(7){
    animation-delay: 0.6s;
}
.obj3:nth-child(8){
    animation-delay: 0.7s;
}


@keyframes loading {
  0%{
    height: 0;
  }
  50%{
    height: 80px;
  }
  100%{
    height: 0;
  }
}

.jam-modal
{
    z-index:3;
    display:none;
    padding-top:10px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
.jam-modal-content
{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:90%
}
.jam-theme
{
    color:#fff !important; 
    background-color:#333333 !important
}
.jam-container:after,
.jam-container:before,
{
    content:"";
    display:table;
    clear:both
} 
.jam-display-topright
{
    position:absolute;
    right:0;
    top:0;
    margin: 6px;
    padding: 0;
    font-size: 40px;
}
.jam-padding
{
    padding:8px;
}

.testbtn {
  padding:2px;
  font-size: 22px;
  text-align:center;
  color:brown;
}
.btn {
  padding:2px;
  margin: 5px;
  width:280px;
  height:80px;
  font-size: 60px;
  text-align:center;
  background-color: aqua;
  color:blue;
  border: 5px solid red;
}
.next {
  position:absolute;
  top:50px;
  right:35px;
  font-size: 60px;
  color:blue;
}
.previous {
  position:absolute;
  top:50px;
  left:35px;
  font-size: 60px;
  color:blue;
}
.next1 {
  position:absolute;
  top:380px;
  right:35px;
  font-size: 60px;
  color:blue;
}
.previous1 {
  position:absolute;
  top:380px;
  left:35px;
  font-size: 60px;
  color:blue;
}
.container{height: ;width: 200px;margin: auto;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-perspective: 400px;perspective-origin: 50%;-webkit-perspective-origin:50% ;}
.button{height: 80px;width: 200px;position: relative;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}
.front,.right{background-color: #262626;-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.3);box-shadow: 0 10px 20px rgba(0,0,0,0.3);height:100%;width: 100%;-webkit-box-sizing: border-box;box-sizing: border-box;position: absolute;}
.front{-webkit-transform: translateZ(100px);transform: translateZ(100px);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;font-family: 'Poppins',sans-serif;font-weight: 500;font-size: 25px;letter-spacing: 1.7px;color: white;}
.right{-webkit-transform: rotateY(-270deg) translateX(100px);transform: rotateY(-270deg) translateX(100px);-webkit-transform-origin: top right;-ms-transform-origin: top right;transform-origin: top right;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-pack: distribute;justify-content: space-around;}
.button:hover{-webkit-transform: rotateY(-90deg);transform: rotateY(-90deg);}
.right>a{text-decoration: none;display:-webkit-box;display:-ms-flexbox;display:flex;height: 40px;width: 40px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;border-radius: 3px;-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.3);box-shadow: 0 5px 10px rgba(0,0,0,0.3);-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.right>a:hover{-webkit-transform:scale(1.15);-ms-transform:scale(1.15);transform:scale(1.15);-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.3);box-shadow: 0 5px 15px rgba(0,0,0,0.3);}
.right>a:nth-child(1){background-color: #11B1FC;}
.right>a:nth-child(2){background-color: #1562BC;}
.right>a:nth-child(3){background-color: #F70000;}
i.fa{color: white;font-size: 25px;}
